
#define	INCL_WINSYS
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN
#define INCL_NLS
#define INCL_SW

#include <os2.h>

#include "pd_login.h"

DLGTEMPLATE LOGIN_TITLE	850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "", LOGIN_TITLE, 126, 108, 238, 60, FS_NOBYTEALIGN |	FS_DLGBORDER |
		WS_CLIPSIBLINGS	| WS_SAVEBITS |	WS_VISIBLE, FCF_TITLEBAR
    BEGIN
	CONTROL	"username:",	       ST_USERNAME, 63,	41, 48,	8, WC_STATIC,
					    SS_TEXT | WS_VISIBLE
	CONTROL	"",		       LOGIN_USERNAME, 114, 40,	106, 10,
					    WC_ENTRYFIELD, ES_MARGIN |
					    WS_TABSTOP | WS_VISIBLE
		CTLDATA	8, 32, 0, 0
	CONTROL	"password:",	       ST_PASSWORD, 64,	16, 45,	8, WC_STATIC,
					    SS_TEXT | WS_GROUP | WS_VISIBLE
	CONTROL	"",		       LOGIN_PASSWORD, 114, 15,	106, 10,
					    WC_ENTRYFIELD, ES_MARGIN |
					    WS_TABSTOP | WS_VISIBLE
		CTLDATA	8, 32, 0, 0
	CONTROL	LOGIN_USERBITMAP,      LOGIN_USERBITMAP, 23, 25, 40, 32,
					    WC_STATIC, SS_BITMAP | WS_VISIBLE
    END
END
BITMAP	    LOGIN_USERBITMAP 007_64.BMP

DLGTEMPLATE DLG_CONFIGURATION 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Desktop Configuration for user ", DLG_CONFIGURATION, 111, 11, 289, 205,
		FS_NOBYTEALIGN | FS_DLGBORDER |	WS_CLIPSIBLINGS	| WS_SAVEBITS |
		WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU
    BEGIN
	CONTROL	"OK",		       DID_OK, 217, 115, 50, 12, WC_BUTTON,
					    BS_PUSHBUTTON | BS_DEFAULT |
					    WS_GROUP | WS_TABSTOP | WS_VISIBLE
	CONTROL	"Cancel",	       DID_CANCEL, 217,	95, 50,	12, WC_BUTTON,
					    BS_PUSHBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"",		       EF_NEWPASSWD, 83, 99, 87, 10,
					    WC_ENTRYFIELD, ES_MARGIN |
					    WS_TABSTOP | WS_VISIBLE
		CTLDATA	8, 32, 0, 0
	CONTROL	"",		       EF_CONFIRMNEWPASSWD, 83,	79, 87,	10,
					    WC_ENTRYFIELD, ES_MARGIN |
					    WS_TABSTOP | WS_VISIBLE
		CTLDATA	8, 32, 0, 0
	CONTROL	"",		       EF_OLDPASSWD, 83, 119, 87, 10,
					    WC_ENTRYFIELD, ES_MARGIN |
					    WS_TABSTOP | WS_VISIBLE
		CTLDATA	8, 32, 0, 0
    END
END
